body {
	font-family:georgia;
	background-color: rgb(247, 246, 228);
	padding: 20px;
	margin: auto;
}
#restaurants {
	max-width:600px;
	margin:5px;
	padding:2px;
}
#restaurants > div {
	padding:5px;
	min-height:40px;
	margin-bottom:5px;
	border:1px solid #1001;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position:relative; /* required to place #pic to right */
}

#restaurants h3 {
	font-family:georgia;
	padding:5px;
	color:#fff;
	background:#E77D2C;
	margin:0;
}

.pic{
	padding: 5px;
	width: 50px;
	position: relative;
	text-align: left;


}

